segmentation-models-pytorch
georeader-spaceml >= 1.5.0, <= 1.5.9
omegaconf
rasterio
geopandas
matplotlib
geojson
netCDF4
earthaccess
numpy
scipy
spectral
pysolar
GitPython
scikit-image
Pyarrow
# (by default installs torch==2.12.0 for gpu)
# try cpu only?
--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
